@import "tailwindcss";
@config "../tailwind.config.mjs";

/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap"); */
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"); */
/* @import url("https://cdn.jsdelivr.net/gh/devicons/devicon@v2.16.0/devicon.min.css"); */

:root {
  --navigation-height: 3.5rem;
  --my-otark-sidebar-width: 17rem;
  --inbox-sidebar-width: 25rem;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop {
    @apply border-gray-200;
  }
}

button {
  @apply cursor-pointer;
}

html {
  @apply overflow-x-hidden;
}

body {
  @apply bg-background antialiased;
}

::-webkit-scrollbar {
  width: 17px;
  height: 17px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 6px solid transparent;
  background-clip: padding-box;
  @apply bg-black/15;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: padding-box;
  @apply bg-black/30;
}

.container {
  @apply container mx-auto px-5 lg:px-7;
}

.max-w-container {
  @apply max-w-[600px] sm:max-w-[728px] md:max-w-[984px] lg:max-w-[1280px] xl:max-w-[1920px];
}

@layer utilities {
  .p-card {
    padding: 1.5rem;
  }
  .px-card {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .p-card-sm {
    padding: 1rem;
  }
}

.react-select input {
  box-shadow: none !important;
}

/* Hide number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input arrows on Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.mdx-editor ul > li {
  list-style: disc;
  margin-left: 1.5rem;
}

.mdx-editor ol > li {
  list-style: decimal;
  margin-left: 1.5rem;
}

.markdown ul,
.markdown ol {
  display: flex;
  flex-direction: column;
}

.markdown ul > li {
  list-style: disc;
  margin-left: 1.5rem;
}

.markdown ol > li {
  list-style: decimal;
  margin-left: 1.5rem;
}

.h-scroll-gradient {
  background:
    linear-gradient(90deg, #fff 33%, rgba(255, 255, 255, 0)),
    linear-gradient(90deg, rgba(255, 255, 255, 0), #fff 66%) 0 100%,
    radial-gradient(
      farthest-side at 0 50%,
      rgba(208, 213, 221, 0.7),
      transparent
    ),
    radial-gradient(
        farthest-side at 100% 50%,
        rgba(208, 213, 221, 0.7),
        transparent
      )
      0 100%;
  background-repeat: no-repeat;
  background-size:
    30px 100%,
    30px 100%,
    10px 100%,
    10px 200%;
  background-position:
    0 0,
    100%,
    0 0,
    100%;
  background-attachment: local, local, scroll, scroll;
}

a,
a:focus {
  color: var(--bs-primary-darker);
}
a:hover {
  color: var(--bs-primary);
}

.btn-primary,
.btn-primary:focus {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.btn-primary:hover,
.btn-primary:active {
  background-color: var(--bs-primary-darker);
  border-color: var(--bs-primary-darker);
}
.btn-primary:focus,
.btn-primary:focus:active {
  box-shadow: 0 0 0 0.25rem rgb(0, 151, 167, 0.5);
}

* {
  box-sizing: border-box;
}
html {
  height: -webkit-fill-available;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: "Open Sans", sans-serif;
}

.topbar {
  position: sticky;
  top: 0;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.85);
  z-index: 10;
}

.topbar [type="checkbox"] {
  display: none;
}
.topbar [type="checkbox"]:checked + .collapse {
  display: block;
}

.introducing-photo-column {
  aspect-ratio: 1;
  background-color: #f4f4f4;
  background-image: url(/img/bw.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  max-width: 90%;
  position: relative;
  padding: 0;
}
.introducing-photo-column::after {
  content: "";
  position: absolute;
  left: 0;
  background-image: inherit;
  background-repeat: inherit;
  background-position: inherit;
  background-size: inherit;
  display: block;
  width: 200%;
  height: 100%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  border-radius: inherit;
}

.main-content {
  overflow: hidden;
}
.main-content > section {
  padding: 1.5rem 0;
}
.main-content > section:nth-child(even) {
  background-color: #f4f4f4;
}

section#contact {
  box-shadow: 0px 0px 2rem -1rem rgb(0, 0, 0, 0.3) inset;
}

.project-card {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 50% 50%;
  min-height: 20rem;
}
.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  background-size: cover;
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
}
.project-card:hover::before {
  transform: scale(1.05);
}
.project-card__title {
  text-shadow: 2px 2px rgb(85, 85, 85, 0.5);
}
.project-card > div:first-child {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.glass-bg {
  -webkit-backdrop-filter: blur(6px);
  -moz-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background-color: rgba(250, 250, 250, 0.85);
}

.enertek-logo {
  box-shadow:
    0 0 0 2px #ff8800b5 inset,
    0 0 3px 0 #ff8a00;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
}

.bg-clip {
  clip-path: polygon(0 0, 100% 0%, 0 100%);
}

.timeline-image {
  width: 100%;
  margin-bottom: 1rem;
}
@media all and (min-width: 768px) {
  .timeline-image {
    width: 25%;
    margin-bottom: 0.5rem;
  }
}

.main-footer {
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5) inset;
}

/** Timeline > */
ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 0;
}
ul.timeline:before {
  content: " ";
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: calc(0.5rem - 1px);
  width: 2px;
  height: 100%;
  z-index: 1;
}
ul.timeline > li {
  position: relative;
  margin: 1.5rem 0;
  padding-left: 2rem;
}
ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid var(--bs-primary);
  left: 0;
  top: 0.25rem;
  width: 1rem;
  height: 1rem;
  z-index: 2;
}
/** < Timeline */
